.gradient-picker{
    border: 1px solid var(--font-color);
    background: url(../img/assets/BG_Menu_noborder.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: var(--font-color);
    font-family: 'Lor', Tahoma, Geneva, Verdana, sans-serif; 
    letter-spacing: .04em;
    font-size: 20px;
}

.gradient-picker .vc-chrome{
    border: none;
}

.gradient-start-color, .gradient-end-color{
    width: 60px;
    height: 60px;
    border: 1px solid var(--font-color);
    cursor: pointer;
}

/* .gradient-picker .vc-chrome{    
    border-bottom: 1px solid var(--font-color); 
} */

.gradient-color-pickers {
    padding: 0.5rem;
}

.gradient-picker .vc-chrome{
    width: 162px !important;
}

.gradient-picker .vc-chrome-toggle-icon-highlight{
    top: 15px !important;
}

.gradient-swatches{
    display: flex;
    flex-wrap: wrap;
    width:164px;
    padding: 3px;
}

.gradient-swatches-color{
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 2px;
    margin: 3px;
}

.gradient-border-wrapper{
    width: 164px;
    border: 1px solid var(--font-color);
}