:root{
    --font-color: goldenrod;
    --bg-primary: #999999;
    --bg-secondary: #ddd;
    --btn-active: grey;
    --btn-frame: #211E1E;
}

@font-face {
    font-family: 'Lor';
    src: url('UniversforRiotGames-UltCond.otf');
}

body{
    background-color: transparent;
    letter-spacing: .04em;
}

html{
    background: url(../img/assets/Background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header{
    background: url(../img/assets/Logo_Background_crispmip.png) no-repeat center top;
    -webkit-background-size: 450px 205px;
    -moz-background-size: 450px 205px;
    -o-background-size: 450px 205px;
    background-size: 450px 205px;
}

#header-title{
    font-size: 30px;
    color: var(--font-color);
    text-shadow: 0 0 2px black;
    font-family: 'Lor', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-show {
    display: block;
}

#input-text-area{
    font-size: 25px;
    font-family: 'Lor', Tahoma, Geneva, Verdana, sans-serif;  
    background-color: var(--bg-secondary);
    height: 149px;
    letter-spacing: .04em;
}

#input {
    position: relative;
}

#input-text-area-counter{
    position: absolute;
    right: 1.35rem;
    bottom: .575rem;
    color: var(--bg-primary);
    font-size: 18px;
    pointer-events: none;
}

mark{
    background-color: #899300;
    color: #E9E4A4;
    padding: 0;
}

em {
    text-decoration: none;
    font-style: normal;
}

.tool-button{
    margin: .25rem;
}

.square-button{
    border: 3px solid var(--btn-frame);
    border-radius: 4px;
    color: var(--font-color);
    text-shadow: 0 0 2px black;
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif; 
    background: url(../img/assets/BTN_Tertiary_Face.png) no-repeat;
    background-color: var(--btn-frame);
    transition: background-image .15s ease-in-out, color .15s ease-in-out;
    height: 50px;
    width: 55px;
    background-size: 49px 44px;
}

.square-button:hover{
    background: url(../img/assets/BTN_Tertiary_Face_Highlight.png) no-repeat;
    background-color: var(--btn-frame);
    color: var(--bg-secondary);
    background-size: 49px 44px;
}

.square-button:active{
    background: url(../img/assets/BTN_Tertiary_Face_Selected.png) no-repeat;
    background-color: var(--btn-frame);
    color: var(--btn-active);
    background-size: 49px 44px;
}

.rect-button{
    border: 3px solid var(--btn-frame);
    border-radius: 4px;
    color: var(--font-color);
    text-shadow: 0 0 2px black;
    font-size: 24px;
    font-family: 'Lor', Tahoma, Geneva, Verdana, sans-serif; 
    background: url(../img/assets/BTN_Tertiary_Face.png) no-repeat;
    background-color: var(--btn-frame);
    transition: background-image .15s ease-in-out, color .15s ease-in-out;
    height: 50px;
    width: 65px;
    background-size: 59px 44px;
}

.rect-button:hover{
    background: url(../img/assets/BTN_Tertiary_Face_Highlight.png) no-repeat;
    background-color: var(--btn-frame);
    color: var(--bg-secondary);
    background-size: 59px 44px;
}

.rect-button:active{
    background: url(../img/assets/BTN_Tertiary_Face_Selected.png) no-repeat;
    background-color: var(--btn-frame);
    color: var(--btn-active);
    background-size: 59px 44px;
}

.dropdown-show-active{
    background: url(../img/assets/BTN_Tertiary_Face_Selected.png) no-repeat;
    background-color: var(--btn-frame);
    color: var(--btn-active);
    background-size: 59px 44px;
}

.dropdown-show-active:hover{
    background: url(../img/assets/BTN_Tertiary_Face_Selected.png) no-repeat;
    background-color: var(--btn-frame);
    color: var(--btn-active);
    background-size: 59px 44px;
}

.add-color-button-wrapper{
    background-color: var(--btn-frame);
    border-left: 1px solid var(--font-color);
    border-right: 1px solid var(--font-color);
    border-bottom: 1px solid var(--font-color);
}

.large-rect-button{
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--font-color);
    text-shadow: 0 0 2px black;
    font-size: 20px;
    font-family: 'Lor', Tahoma, Geneva, Verdana, sans-serif; 
    background: url(../img/assets/BTN_Tertiary_Face.png) no-repeat;
    width: 125px;
    height: 30px;
    background-size: 123px 28px;
    transition: background-image .15s ease-in-out, color .15s ease-in-out;
}

.large-rect-button:hover{
    background: url(../img/assets/BTN_Tertiary_Face_Highlight.png) no-repeat;
    background-size: 123px 28px;
    color: var(--bg-secondary);
}

.large-rect-button:active{
    background: url(../img/assets/BTN_Tertiary_Face_Selected.png) no-repeat;
    background-size: 123px 28px;
    color: var(--btn-active);
}

.sprite-palette{
    background-color: transparent;
}

.sprite-button{
    background: url(../img/assets/BG_Menu_noborder.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 1px solid var(--font-color);
}


.menu-modal{
    position: absolute;
    height: 100%;
    width: 100%;  
    top:0;
    left:0;
    z-index:9999;
}

.menu-modal-content{  
    position: absolute;
    top: 5rem;
    padding-bottom: 5rem;
}

.menu-modal-dark{
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:1000;
}

.preview-header{
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.preview-header-title{
    color: var(--font-color);
    text-shadow: 0 0 2px black;
    font-size: 20px;
    font-family: 'Lor', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid var(--font-color);
}

.preview-presentation{
    min-height: 92px;
    color: #D7CEC7;
    font-size: 50px;
    font-family: 'Lor', Tahoma, Geneva, Verdana, sans-serif;
    white-space: pre;
    overflow-inline: auto;
    overflow: auto;
}

.preview-presentation > span > img::before {
    background-color: green;
}

.preview-presentation-wrapper{
    background-color: var(--btn-frame);
    border: 1px solid var(--font-color);
    border-radius: 4px;
    background: url(../img/assets/BG_Menu_noborder.png) no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.help{
    width: 90vw;
    background: url(../img/assets/BG_Menu_noborder.png) no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    font-size: 20px;
    font-family: 'Lor', Tahoma, Geneva, Verdana, sans-serif;
    color: #D7CEC7; 
    border: 1px solid var(--font-color);
    border-radius: 4px;
    position: relative;
    padding: 1.2rem;
}

.help-corner{
    position: absolute;
    background: url(../img/assets/nav_topcorner.png);
    background-size: 30px 48px;
    width:30px;
    height:48px;
    margin:-1px;
    border-radius: 4px;
}

.help-corner-top-left{
    top:0;
    left:0;
}

.help-corner-top-right{
    top:0;
    right:0;
    transform: rotateY(180deg);
}

.help-corner-bottom-left{
    bottom:0;
    left:0;
    transform: rotateX(180deg);
}

.help-corner-bottom-right{
    bottom:0;
    right:0;
    transform: rotateX(180deg) rotateY(180deg);
}

.help-title{
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.help-paragraph{
    text-indent: 2rem;
}

.help ul{
    padding-left: 3rem;
}

@media (min-width: 992px){
    .help{
        width: 70vw;
        font-size: 28px;
        padding: 2rem;
    }

    .help-corner{
        background-size: 50px 80px;
        width:50px;
        height:80px;
    }

    .help-title{
        font-size: 30px;
    }

    .help-paragraph{
        text-indent: 4rem;
    }

    .help ul{
        padding-left: 6rem;
    }
}

.help table {
    font-family: 'Lor', Tahoma, Geneva, Verdana, sans-serif;
    color: #D7CEC7; 
}

.help-turn-phone{
    display: none;
}

@media (max-width: 536px) {
    .help table {
        display: none;
    }
    .help-turn-phone{
        display: block;
    }
}

div.sprite-preview-wrapper{
    position: relative;
    height: 50px;
}

div.sprite-style-strike{
    position: absolute;
    width: 100%;
    top: 0.5em;
    background-color: #D7CEC7;
    height: 3px;
}

div.sprite-style-underlined{
    position: absolute;
    width: 100%;
    top: 0.83em;
    background-color: #D7CEC7;
    height: 3px;
}

.sprite-preview{
    position: relative;
    z-index:10;
}

.sprite-preview-sub{
    position: relative;
    scale: 75%;
    bottom: -0.25em;
}

.sprite-preview-sup{
    position: relative;
    scale: 75%;
    top: -0.5em;
}

.sprite-preview-mark{
    background-color: #899300;
}

.sprite-preview-mark div.sprite-style-strike{
    background-color: #E9E4A4;
}

.sprite-preview-mark div.sprite-style-underlined{
    background-color: #E9E4A4;
}

.copy-button-wrapper{
    position: relative;
}


#clipboard-confirm{
    position: fixed;
    bottom: 4em;
    background-color: #000000AA;
    border-radius: 4px;
    opacity:0;
    color: var(--font-color);
    padding: 1em;
    pointer-events: none;
    z-index:1;
    width:150px;
    text-align:center;
    transition: opacity 1s ease-in-out;
    cursor: pointer;
    border: 1px solid var(--font-color);
}

#clipboard-confirm.show{
    opacity: 1;
    pointer-events: all;
}