<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An online tool for creating and formatting deck names for Legends of Runeterra, including text coloring and sprite images.">
    <meta name="google-site-verification" content="FYUsHzPtOlUgL5sFcigdZlCBy6ev-CBzCPFvmC0WQ4o" />
    <title>LoR Deck Name Editor</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"> 

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-color/2.7.1/vue-color.min.js"></script>
    <script src="js/data.js"></script>
    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet" href="css/v-color.css">
    <link rel="stylesheet" href="css/gradient-picker.css">
</head>
<body class="container-lg mb-3">    
    <div id="app">
        <div id="header" class="text-center mb-3 d-md-block d-none">
            <img id="header-logo" src="img/assets/Logo_LOR_Title_crispmip.png" width="300" class="mt-3">
            <div id="header-title">DECK NAME EDITOR</div>
        </div>

        <div id="tools" class="mb-3 d-flex flex-wrap justify-content-lg-between justify-content-center">
            <div class="d-flex flex-wrap justify-content-lg-start justify-content-center">
                <div class="typography-button-wrapper typography-button-bold-wrapper">
                    <button type="button" class="square-button typography-button-bold tool-button" title="Bold text" @click="clickApplyTypographyStyle('b')"><b>B</b></button>
                </div>
                <div class="typography-button-wrapper typography-button-italic-wrapper">
                    <button type="button" class="square-button typography-button-italic tool-button" title="Italic text" @click="clickApplyTypographyStyle('i')"><i>I</i></button>
                </div>
                <div class="typography-button-wrapper typography-button-underline-wrapper">
                    <button type="button" class="square-button typography-button-underline tool-button" title="Underlined text" @click="clickApplyTypographyStyle('u')"><u>U</u></button>
                </div>
                <div class="typography-button-wrapper typography-button-strike-wrapper">
                    <button type="button" class="square-button typography-button-strike tool-button" title="Text with line through" @click="clickApplyTypographyStyle('s')"><s>S</s></button>
                </div>
                <div class="typography-button-wrapper typography-button-sub-wrapper">
                    <button type="button" class="square-button typography-button-sub tool-button" title="Subscript text" @click="clickApplyTypographyStyle('sub')">X<sub>2</sub></button>
                </div>
                <div class="typography-button-wrapper typography-button-sup-wrapper">
                    <button type="button" class="square-button typography-button-sup tool-button" title="Superscript text" @click="clickApplyTypographyStyle('sup')">X<sup>2</sup></button>
                </div>
                <div class="typography-button-wrapper typography-button-marked-wrapper">
                    <button type="button" class="square-button typography-button-marked tool-button" title="Marked text" @click="clickApplyTypographyStyle('mark')"><mark>M</mark></button>
                </div>
                <div class="dropdown-button-wrapper">                
                    <button type="button" 
                            class="rect-button dropdown-button skip-menu-state tool-button d-none d-lg-block"
                            @click="toggleMenu(menuStates.dropdownSprites)"
                            title="Sprite palette">Sprites</button>
                    <div v-if="showDropdownSprites" id="dropdown-sprites" class="dropdown-content">
                        <sprite-palette :sprites="sprites"
                                        :clickfn="clickSprite">
                        </sprite-palette>
                    </div>
                    <button type="button" 
                            class="rect-button modal-button skip-menu-state tool-button d-lg-none" 
                            data-toggle="modal" 
                            @click="toggleMenu(menuStates.modalSprites)">
                        Sprites
                    </button>
                </div>
                <div class="dropdown-button-wrapper">                
                    <button type="button" 
                            class="rect-button dropdown-button skip-menu-state tool-button d-none d-lg-block"
                            @click="toggleMenu(menuStates.dropdownColors)"
                            title="Color picker">Colors</button>
                    <div v-if="showDropdownColors" id="dropdown-colors" class="dropdown-content">
                        <div class="menu-color-picker">
                            <sketch-picker v-model="color" 
                                           :preset-colors="swatches">
                            </sketch-picker>
                        </div>
                        <div class="d-flex justify-content-center p-1 add-color-button-wrapper skip-menu-state">
                            <button type="button" 
                                    class="large-rect-button add-short-hex-button m-1" 
                                    @click="clickAddColor(true)"
                                    title="Color represented in short HEX value(#fff)">Add short code</button>
                            <button type="button" 
                                    class="large-rect-button add-hex-button m-1"
                                    @click="clickAddColor(false)"
                                    title="Color represented in full HEX value(#ffffff)">Add full code</button>
                        </div>
                    </div>
                    <button type="button" 
                            class="rect-button modal-button skip-menu-state tool-button d-lg-none" 
                            data-toggle="modal" 
                            @click="toggleMenu(menuStates.modalColors)">
                        Colors
                    </button>
                </div>
                <div class="dropdown-button-wrapper">                
                    <button type="button" 
                            class="rect-button dropdown-button skip-menu-state tool-button d-none d-lg-block gradient-rect-button"
                            @click="toggleMenu(menuStates.dropdownGradient)"
                            title="Gradient">Gradient</button>
                    <div v-if="showDropdownGradient" id="dropdown-gradient" class="dropdown-content">
                        <div class="gradient-picker">
                            <div class="gradient-color-pickers d-flex justify-content-between">
                                <div class="gradient-start-wrapper mr-2">
                                    <div class="text-center">First color</div>
                                    <chrome-picker v-model="gradientStart" 
                                                   ref="gradientStart"
                                                   :disable-alpha="true">
                                    </chrome-picker>
                                </div>
                                <div class="gradient-end-wrapper">
                                    <div class="text-center">Last color</div>
                                    <chrome-picker v-model="gradientEnd" 
                                                   ref="gradientEnd"
                                                   :disable-alpha="true">
                                    </chrome-picker>
                                </div>
                            </div>  
                            <div class="gradient-picker-button-wrapper skip-menu-state p-1 d-flex justify-content-center">
                                <button type="button" class="large-rect-button m-1" @click="clickAddGradient">Apply gradient</button>
                            </div>                          
                        </div>
                    </div>
                    <button type="button" 
                            class="rect-button modal-button skip-menu-state tool-button d-lg-none gradient-rect-button" 
                            data-toggle="modal" 
                            @click="toggleMenu(menuStates.modalGradient)">
                        Gradient
                    </button>
                </div>
            </div>
            
            <div class="d-flex flex-wrap secondary-buttons-wrapper">
                <div class="copy-button-wrapper">
                    <button type="button" 
                        class="rect-button copy-button tool-button"
                        @click="copyInput"
                        title="Copy">Copy</button>                      
                </div>
                <div>
                    <button type="button" class="square-button help-button skip-menu-state tool-button" title="Help" @click="toggleMenu(menuStates.modalHelp)">?</button>
                </div>
            </div>
        </div>   

        <div id="input">
            <textarea id="input-text-area" rows="2" class="form-control" v-model="input" spellcheck="false" placeholder="Type deck name here..."></textarea>
            <div id="input-text-area-counter">
                {{input.length}}
            </div>
        </div>

        <div id="preview" class="my-3">
            <div id="preview-short" class="p-2 preview-presentation-wrapper mb-3">             
                <div class="preview-header">
                    <div class="preview-header-title px-2">Preview</div>
                </div>
                <div class="mt-2 px-2 d-flex preview-presentation" v-html="preview"></div>
            </div>
            <div id="preview-full" class="p-2 preview-presentation-wrapper">                
                <div class="preview-header">
                    <div class="preview-header-title px-2">Full preview (ignoring 50 character limit)</div>
                </div>
                <div class="mt-2 px-2 d-flex preview-presentation" v-html="previewFull"></div>
            </div>
        </div>
        <a href="img/sprites/sprites.zip" target="_blank" class="sprites-link">Download sprite images</a>
    
        <div v-if="showModalSprites" class="menu-modal" 
             tabindex="-1" 
             role="dialog" 
             aria-labelledby="" 
             aria-hidden="true">
            <div class="d-flex justify-content-center">
                <div class="menu-modal-content">
                    <sprite-palette :sprites="sprites"
                                    :clickfn="clickSprite">
                    </sprite-palette>
                </div>
            </div>    
        </div>

        <div v-if="showModalColors" class="menu-modal" 
             tabindex="-1" 
             role="dialog" 
             aria-labelledby="" 
             aria-hidden="true">
            <div class="d-flex justify-content-center">
                <div class="menu-modal-content">
                    <div class="menu-color-picker">
                        <chrome-picker v-model="color" 
                                       :disable-fields="true">
                        </chrome-picker>
                    </div>
                    <div class="d-flex justify-content-center p-1 add-color-button-wrapper skip-menu-state">
                        <button type="button" 
                                class="large-rect-button add-short-hex-button m-1" 
                                @click="clickAddColor(true)"
                                title="Color represented in short HEX value(#fff)">Add short code</button>
                        <button type="button" 
                                class="large-rect-button add-hex-button m-1"
                                @click="clickAddColor(false)"
                                title="Color represented in full HEX value(#ffffff)">Add full code</button>
                    </div> 
                </div>  
            </div>
        </div>

        <div v-if="showModalGradient" class="menu-modal" 
             tabindex="-1" 
             role="dialog" 
             aria-labelledby="" 
             aria-hidden="true">
            <div class="d-flex justify-content-center">
                <div class="menu-modal-content">
                    <div class="gradient-picker">
                        <div class="gradient-color-pickers d-flex justify-content-between">
                            <div class="gradient-start-wrapper mr-2">
                                <div class="text-center">First color</div>
                                <chrome-picker v-model="gradientStart" 
                                               ref="gradientStart"
                                               :disable-alpha="true">
                                </chrome-picker>
                            </div>
                            <div class="gradient-end-wrapper">
                                <div class="text-center">Last color</div>
                                <chrome-picker v-model="gradientEnd" 
                                               ref="gradientEnd"
                                               :disable-alpha="true">
                                </chrome-picker>
                            </div>
                        </div>  
                        <div class="gradient-picker-button-wrapper skip-menu-state p-1 d-flex justify-content-center">
                            <button type="button" class="large-rect-button m-1" @click="clickAddGradient">Apply gradient</button>
                        </div>                          
                    </div>
                </div>
            </div>    
        </div>
        
        <div v-if="showModalHelp" class="menu-modal" 
             tabindex="-1" 
             role="dialog" 
             aria-labelledby="" 
             aria-hidden="true">
            <div class="d-flex justify-content-center">
                <div class="menu-modal-content">
                    <div class="help">
                        <div class="help-corner help-corner-top-left"></div>
                        <div class="help-corner help-corner-top-right"></div>
                        <div class="help-corner help-corner-bottom-left"></div>
                        <div class="help-corner help-corner-bottom-right"></div>
                        <p class="help-title">Introduction</p>
                        <p class="help-paragraph">
                            Lor Deck Name Editor provides various tools that help customizing deck names in Legends of Runeterra, including: text formatting options, text coloring and sprite insertion.
                            You can type deck name in text field and use buttons to select and insert format, color or sprites to see how it will look in game. 
                        </p>
                        <p class="help-title">Text formatting</p>
                        <p class="help-paragraph">
                            Text formatting is assigned using following tags:                            
                        </p>
                        <ul>
                            <li>&lt;b&gt; - text formatted <b>Bold</b>;</li>
                            <li>&lt;i&gt; - text formatted <i>Italic</i>;</li>
                            <li>&lt;u&gt; - text formatted <u>Underlined</u>;</li>
                            <li>&lt;s&gt; - text formatted with <s>line through it</s>;</li>
                            <li>&lt;sub&gt; - text formatted as <sub>sub</sub>script</li>
                            <li>&lt;sup&gt; - text formatted as <sup>super</sup>script</li>
                            <li>&lt;mark&gt; - text formatted <mark>Marked</mark>;</li>
                        </ul>
                        <p class="help-paragraph">
                            Tags can be written manually or by using buttons to apply formatting automatically. 
                            Put opening tag before text, to apply format. 
                            Closing tag is not required, but can be used to apply formatting between tags for example: "&lt;b&gt;Bold text here" is the same as "&lt;b&gt;Bold text here&lt;/b&gt;". 
                            Text after closing tag will appear regular: "&lt;b&gt;Bold text here&lt;/b&gt; regular text here".
                            Selecting text inside text field and pressing format button will apply format to selection. 
                            If text is not selected, only opening tag will be inserted at cursor position.
                        </p>
                        <p class="help-title">Text coloring</p>
                        <p class="help-paragraph">
                            Text color is defined by hexadecimal color code or a color name inside the color tag. 
                            Text coloring can be assigned by following types of tags:                            
                        </p>
                        <ul>
                            <li>Short color code tag (&lt;#0F0&gt; or with opacity &lt;#0F0A&gt;);</li>
                            <li>Full color code tag (&lt;#00FF00&gt; or with opacity &lt;#00FF00AA&gt;);</li>
                            <li>Color tag with specified color code, short or full (&lt;color=#0F0&gt; or &lt;color=#00FF00&gt;);</li>
                            <li>Color tag with color name (&lt;color=green&gt;), following color names can be used: red, orange, yellow, green, blue, purple, black and white;</li>
                        </ul>
                        <p class="help-paragraph">
                            Like text format, tags can be written manually or by using color picker tool to apply color automatically. 
                            Closing tag (&lt;/color&gt;) is not required, but can be used to apply coloring to specific parts of text.
                            When inserting color with color picker tool, you can select short or full color code. 
                        </p>
                        <p class="help-title">Color gradient</p>
                        <p class="help-paragraph">
                            Color gradient tool can be used to make text colored with transition from one color to another. 
                            Select desired text in text field, then select first and last color in gradient tool and click "Apply gradient".
                            If no text was selected, gradient will be applied to all text.                             
                        </p>
                        <p class="help-title">Sprites</p>
                        <p class="help-paragraph">
                            Sprites can be inserted with following tags:
                        </p>
                        <ul>
                            <li>Numbered sprite tag (&lt;sprite=1&gt;);</li>
                            <li>Named sprite tag (&lt;sprite name=Noxus&gt;);</li>
                        </ul>
                        <p class="help-paragraph">
                            See sprite reference below for possible numbers and names.
                        </p>
                        <p class="help-paragraph">
                            Sprites can be inserted with sprite palette or by typing tags manually, it will always choose the shortest available sprite tag.
                            Following text formats will be applied to sprites in game and in preview: underline, line through, marking.
                        </p>
                        <p class="help-title">
                            Sprite reference
                        </p>                        
                        <div class="row">
                            <div v-for="sprite in sprites" class="col-sm-3 col-6 text-center mb-2">
                                <div class="mb-2"><img :src="sprite.image" width="60" height="60"></div>
                                <div>{{sprite.id !== '' ? sprite.id : '-'}}</div>
                                <div>{{sprite.name ? sprite.name : '-'}}</div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>

        <div v-if="showModalColors || showModalSprites || showModalHelp || showModalGradient" class="menu-modal-dark"></div>
        
        <div class="d-flex justify-content-center">
            <div id="clipboard-confirm" class="" @click="dismissConfirm">Text copied</div>
        </div>
    </div>

    <template id="sprite-palette-template">
        <div class="sprite-palette">
            <div class="d-flex sprite-row" v-for="spriteRow in spriteRows">
                <span v-for="sprite in spriteRow">
                    <button class="sprite-button p-1"
                            @click="clickfn(sprite)"
                            :title="sprite.title">
                        <img :src="sprite.image" width="40" height="40" >
                    </button>
                </span>
            </div> 
        </div>     
    </template>
    <script src="js/app.min.js"></script>
</body>
</html>